
<% if @user && @user.errors.any? %>
  <div class="alert alert-danger">
    <%= @user.errors.full_messages[0] %>
  </div>
<% end %>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>