<% content_for :head_style do %>
  <%= stylesheet_link_tag :articles %>
<% end %>

 <div class="posts">
    <div class="posts-inner">
    
       <article class="post">
            <div class="post-header">
                <h2 class="title">Hi! I'm Maxwell Obi </h2>
            </div>

            <div class="post-content">
                <div class="the-excerpt">
                
                    <div class="row">
                        <div class="col-md-8">
                            <p>
                                Welcome to my personal blog, a place I vent, rant and 
                                spit my opinions – my opinions!!
                            </p>
                            <p>
                                I am an entrepreneur and I write code. I have a BSc in Computer Science, 
                                worked with Unified Payments Systems Limited and The Platform Technologies, 
                                founded Greex Technologies, Paydial, and currently the Co-founder/CTO at Amplify Payments.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img src="/images/Maxwell_Obi.jpg" class="img-fluid rounded img-thumbnail" style="max-width: 100%; height: auto;" alt="Maxwell Obi" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-12">
                            
                            <p>
                                I love chess, strategy, driving (hope to be a race car driver in next life 😊 ), 
                                books and video games – (favs: God of war, Call of Duty, Battle Field etc).
                            </p>
                            <p>
                                I never fit in, always looking to stand out, explore and try new things. 
                                More of having a flare for risks. I am an introvert with a big heart – so please 
                                say hi when next we meet. 
                            </p>
                            <p>
                                My goal is to see cutting edge innovation and technology emerge from Africa and prevail 
                                worldwide – and be a part of it.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </article>


    </div>

</div>
