<% content_for :head_style do %>
  <%= stylesheet_link_tag :articles %>
<% end %>

 <div class="posts">
    <div class="posts-inner">
    
       <article class="post">
            <div class="post-header">
                <h2 class="title">Hi! I'm Maxwell Obi </h2>
            </div>

            <div class="post-content">
                <div class="the-excerpt">
                
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                Welcome to my website - an online repo documenting my 
                                thoughts, experiments, opinions (mine and mine alone) and general 
                                perspective on things; Tech related and otherwise.
                            </p>
                            <p>
                                I am a Co-founder of <a href="https://amplifiedpayments.com" target="_blank">Amplified Payments</a> and currently its 
                                CTO - Amplified is a Fintech startup building a pan African 
                                ecosystem of tools and platforms that connects banks, telcos 
                                and businesses to their customers and drives the adoption of 
                                digital financial services. 
                                One of such platforms is <a href="https://mtransfers.com" target="_blank">mTransfers</a>
                            </p>
                        </div>
                        <%# <div class="col-md-4">
                            <img src="/images/Maxwell_Obi.jpg" class="img-fluid rounded img-thumbnail" style="max-width: 100%; height: auto;" alt="Maxwell Obi" />
                        </div> %>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-12">
                            
                            <p>
                                I have a Bsc. in Computer Science, I worked for Unified Payments 
                                Systems where I was part of the team that built their core 
                                payment infrastructure and went on to Head product dev at 
                                Platform Technologies, working on solutions for state and 
                                federal governments, and now, Amplified.
                            </p>
                            <p>
                                I have vast experience with various core back-end technologies, 
                                system design and devops and I am a Machine Learning & Deep 
                                Learning enthusiast - As a fun side project, 
                                I am working on a framework for harvesting basic traffic 
                                telemetry for self driving cars in Africa. - 
                                I will document this as it matures.
                            </p>
                            <p>
                                Fun fact: I hope to be a race car driver in next life 😊, - I love driving, unfortunately Lagos is never the place to drive.
                                <%# <br/>
                                My goal is to see cutting edge innovation and technology emerge from Africa and prevail 
                                worldwide – and be a part of it. %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </article>


    </div>

</div>
